#pathfinder-grid {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 750px;
}

.node {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.start {
  background-color: lightgreen;
}

.end {
  background-color: red;
}

.visited {
  background-color: blue;
}

.is-open {
  background-color: green;
}