
#pathfinder-grid {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1220px;
  height: 620px;
  background-color: #7f7f7f;
  border: 2px solid rgb(58, 57, 57);
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid gray;
  margin: 0 auto;
  background-color: #262626;
  color: #f7f7f7;

}

.main-function-btns {
  display: flex;
  width: 750px;
  margin-left: 40px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.app-name {
  display: inline-block;
  font-size: 30px;
  margin: auto;
  width: 200px;
  text-align: center;
  font-weight: 800;
  letter-spacing: 2px;
}

.algorithms-dropdown-container, .obstacles-dropdown-container {
  margin: auto 0;
  width: 180px;
  height: 60px;
}

.algorithms-span, .obstacles-span {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 180px;
  padding: 22px 0;
  letter-spacing: 1px;
}

.fa-question-circle {
  display: inline-block;
  text-align: center;
  padding: 20px 0 20px 25px;
  font-size: 20px;
  cursor: help;

}

#clear {
  text-transform: uppercase;
  font-weight: 800;
  width: 140px;
  cursor: pointer;
  letter-spacing: 1px;
  color: #f7f7f7;
}

.algorithms-span:hover, .obstacles-span:hover, #clear:hover {
  background-color: #f85339;
  transition-duration: 0.2s;
}

.algorithms-dropdown, .obstacles-dropdown {
  width: 180px;
  position: absolute;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 0px; 
  overflow: hidden;
}

.show-dropdown {
  height: 90px;
  transition-duration: 0.3s;
  /* transition: ease-in-out 0.3s;
  transition: ease-out 0.3s; */
}

.algorithms-dropdown button, .obstacles-dropdown button {
  width: 100%;
  height: 45px;
  color: #f7f7f7;
  background-color: #3b3939;
  cursor: pointer;
}

.algorithms-dropdown button:hover, .obstacles-dropdown button:hover {
  background-color: #f85339;
  transition-duration: 0.2s;
}

.explanation-content {
  display: none;
}

.show-explanation {
  display: block;
}

.node {
  width: 18px;
  height: 18px;
  border: 1px solid rgb(58, 57, 57);
}

.is-open {
  background-color: rgb(17, 170, 217);
}

.is-wall {
  background-color: rgb(58, 57, 57);
}

.is-weighted {
  background-color: indigo;
}

.visited {
  background-color: #d4d2d4;
}

.is-path {
  background-color: yellow;
}

.start {
  background-color: #51aa51;
}

.end {
  background-color: tomato;
}

.fa-angle-down {
  padding-left: 10px;
  pointer-events: none;
}

.explanation-content {
  position: absolute;
  top: 40px;
  background-color: #3b3939;
  font-size: 13px;
  padding: 10px 15px 15px 15px;
  width: 300px;
  letter-spacing: 1px;
  line-height: 18px;
}

.personal-links {
  display: flex;
  justify-content: space-around;
  width: 120px;
  padding-top: 15px;
  margin-right: 100px;
}

.fa-github {
  color: #f7f7f7;
  /* position: relative; */
  font-size: 25px;
  top: 18px;
  left: 300px;
  text-decoration: none;
}

.fa-linkedin {
  color: #f7f7f7;
  /* position: relative; */
  font-size: 27px;
  top: 18px;
  left: 325px;
  text-decoration: none;
}

.fa-angellist {
  color: #f7f7f7;
  /* position: relative; */
  font-size: 27px;
  top: -8px;
  right: -700px;
  text-decoration: none;
}

.fa-angellist:hover, .fa-linkedin:hover, .fa-github:hover {
  color: #f37967;
  transition-duration: 0.2s;
}