
#pathfinder-grid {
  margin: 0 auto;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1100px;
  height: 660px;
  background-color: lightgray;
  border: 2px solid rgb(58, 57, 57);
}

.node {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(58, 57, 57);
;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}

.visited {
  background-color: rgb(17, 104, 217);
}

.is-open {
  background-color: rgb(0, 217, 159);
}

.is-path {
  background-color: yellow;
}

.is-wall {
  background-color: rgb(58, 57, 57);
}
